@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

:root{
    font-size: 62.5%;
}

.container{
    width: 1400px;
    max-width: 80%;
    margin: auto;
}



.page1 {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .page1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://media.istockphoto.com/id/1095313322/vi/anh/s%E1%BB%91t-c%C3%A0-chua-v%E1%BB%9Bi-c%C3%A1c-nguy%C3%AAn-li%E1%BB%87u.jpg?s=2048x2048&w=is&k=20&c=nSnosO9NfsSd5NQbjE9_bKec_FVbhvBhzqs_0BXLzxs=");
    background-size: cover;
    filter: blur(5px); 
    z-index: -1;
  }
  
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    padding: 10px;


    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    z-index: 999; 
    background-color: rgba(32, 32, 32, 0.8); 
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
}


.navbar a{
    width: 300px;
    height: auto;
}

.navbar a img{
    width: 100%;
    height: 100%;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.navbar ul li a{
    font-size: 1.6rem;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li a::after{
    content: '';
    width:0%;
    height: 1px;
    background:  #fff;
    display: block;
    margin: auto;
    transition: 0.5s ease-in-out;
}

.navbar ul li a:hover::after{
    width: 100%;
    color: red;
}

.logo a{
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    padding: 0 1.3rem;
}

.text{
    position: relative;
    top: 50%;
    padding: 1rem 0;
}

.text p{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff;
}

.text h1{
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
}

.text .btn{
    text-decoration: none;
    border: 1px solid #fff;
    padding: 15px 30px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    transition: 0.54s;
}

.text .btn:hover{
    background: #fff;
    color: black;
}








 .page2 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
 }
 #products {
    background-color: #f2f2f2;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);     
    padding: 20px;
    
  }
 .product {
    display: inline-block;
    margin: 1%;
    position: relative;
    width: 30%;
  }
  .horizontal-scroll-container{
    width: 80%;
    margin-left: 10%;
  }
  .horizontal-scroll-container {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product {
    width: calc(33.33% - 2%); /* 3 sản phẩm trên mỗi dòng */
    margin-bottom: 2%; /* Khoảng cách giữa các sản phẩm */
  }
  
  .product-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
  }
  
  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .product-image:hover img {
    transform: scale(1.1);
  }
  
  .add-to-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
    z-index: 1;
  }
  
  .add-to-cart:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .add-to-cart img {
    width: 30px;
    height: 30px;
  }
  
  .product-info {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
  } 
  

  .product-info {
    width: 100%;
    height: auto;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .product-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .product-info p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .product-info a {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .product-info a:hover {
    background-color: darkred;
  }
  
  .product:hover .product-info {
    opacity: 1;
  }








  .menu-container {
    width: 100%;
    margin: 0 auto;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .menu-item {
    width: calc(25% - 2%);
    margin-bottom: 2%;
    cursor: pointer;
  }
  
  .menu-item a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
  }
  
  .menu-item a:hover {
    background-color: gray;
    color: white;
  }
  
  .product-container {
    width: 100%;
    overflow: hidden;
  }
  
  .product-category {
    display: none;
  }
  
  .product-category ul {
    margin: 0;
    padding: 0;
  }
  
  .product-category ul li {
    list-style-type: none;
    padding: 10px;
    background-color: lightgray;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
  }
  
  .product-category ul li:hover {
    background-color: gray;
    color: white;
  }
  
  .product-category h2 {
    margin-top: 0;
  }



 
  






  .banner {
    background-color: #f2f2f2;
    height: 900px;
    display: flex;
    align-items: center;
    
  }
  
  .banner-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 80%;
    margin-left: 10%;
  }
  
  .banner-text {
    flex: 1;
    text-align: right;
    width: 50%;
  }
  
  .banner-text h1 {
    font-size: 5rem;
    margin-bottom: 20px;
  }
  
  .banner-text p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .banner .btnn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #ff8400;
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .banner .btnn:hover {
    background-color: #ff6b00;
  }


  
  /* .banner-images img {
    max-width: 50%;
    margin-left: -20px;
    margin-bottom: -10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }  */
  .banner-images {
    justify-content: center;
  }
  
  .image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    transform: rotate(-8deg);
    margin-left: -20px;
    margin-bottom: -120px;
  }
  
  .image-container img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .i1, .i4 {
    z-index: 3;
  }
  
  .i2, .i5 {
    z-index: 2;
  }
  
  .i3, .i6 {
    z-index: 1;
  }
  












  
.footer{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #000;
}

.footer a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    transition: 0.4s;
}

.footer a:hover{
    font-weight: 500;
    color: #ffffff82;
}






