.title{
    margin-top: 70px;
}
.title h1{
    color: green;
    text-align: center;
    font-size: 30pt;
}

.title hr{
    color: green;
    width: 100px;
    margin-left: 700px;
}


.ds{
    max-width: 100%;
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    /* height: 1000px; */
    /* border: 1px solid black; */
}

.item{
    border: 1px solid rgb(16, 180, 16);
    width: 90%;
    margin-right: 20px;
    height: 490px;
    margin-bottom: 20px;
}

.item h3{
    text-decoration: none;
    font-size: 17pt;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.min:hover h3{
    color: green;
  }


.item img{
    width: 90%;
    margin-left: 17px;

}
.item p{
    text-decoration: none;
    text-align: center;
    width: 280px;
    font-size: 13pt;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.xct{
    text-decoration: none;
    font-size: 20pt;
    margin-left: 30px;
    /* margin-top: 20px; */
    color: black;
    position: sticky;
    
}

.find{
    /* border: 1px solid black;  */
    margin-left: 20px;
    margin-right: 200px;
    display: flex;
    margin-top: 50px;
}

.find input{
    width: 600px;
    height: 45px;  
}

.find button{
    width: 45px;
    height: 45px;
    background-image: url('https://i.pinimg.com/564x/e9/a2/be/e9a2be0b196f703509b3bbb9b17ef602.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.ds li{
    list-style-type: none;
}