<!DOCTYPE html>
<html lang="vi-VN" data-nhanh.vn-template="T0307">
    <head>
        <meta name="robots" content="noindex" />
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><title>Trang cá nhân</title>
        <meta name="google-site-verification" content=""> 
        <link href="https&#x3A;&#x2F;&#x2F;pos.nvncdn.net&#x2F;16a837-71503&#x2F;store&#x2F;20200325_ZRJHulhsIfpehzWImFaQoMVt.png" rel="icon" type="image&#x2F;vnd.microsoft.icon">
        <link rel="preload" href="https://web.nvnstatic.net/tp/T0307/font/Quicksand-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="stylesheet" href="https://web.nvnstatic.net/css/bootstrap/bootstrap.4.3.1.min.css?v=23" type="text/css">
        <link rel="stylesheet" href="https://web.nvnstatic.net/css/fontAwesome/font-awesome-4.7.0.min.css?v=23" type="text/css">
        <link rel="stylesheet" href="https://web.nvnstatic.net/js/jquery/fancybox-2.1.5/source/jquery.fancybox.css?v=23" type="text/css">
        <link rel="stylesheet" href="https://web.nvnstatic.net/css/font.css?v=23" type="text/css">
        <link rel="stylesheet" href="https://web.nvnstatic.net/js/mmenu/css/jquery.mmenu.css?v=23" type="text/css">
        <link rel="stylesheet" href="https://web.nvnstatic.net/css/jqueryUI/jqui.css?v=23" type="text/css">
        <link rel="stylesheet" href="https://web.nvnstatic.net/css/owlCarousel/owl.carousel.min.2.3.4.css?v=23" type="text/css">
        <link rel="stylesheet" href="https://web.nvnstatic.net/tp/T0307/css/style.css?v=32" type="text/css">
        <script defer type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.min.js?v=30"></script>
        <script defer type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.cookie.js?v=30"></script>
        <script defer type="text/javascript" src="https://web.nvnstatic.net/js/bootstrap/boostrap.popper.min.js?v=30"></script>
        <script defer type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery-ui-1.10.3.custom.min.js?v=30"></script>
        <script defer type="text/javascript" src="https://web.nvnstatic.net/js/bootstrap/bootstrap.4.3.1.min.js?v=30"></script>
        <script defer type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.number.min.js?v=30"></script>
        <script defer type="text/javascript" src="https://web.nvnstatic.net/js/owlCarousel/owl.carousel.min.js?v=30"></script>
        <script defer type="text/javascript" src="https://web.nvnstatic.net/js/mmenu/js/jquery.mmenu.min.js?v=30"></script>
        <script defer type="text/javascript" src="https://web.nvnstatic.net/js/lib.js?v=30"></script>
        <script defer type="text/javascript" src="https://web.nvnstatic.net/tp/T0307/js/main.js?v=32"></script>
        <style type="text/css"></style>
        <style type="text/css">img {max-width: 100%;} img.lazyload{ opacity: 0.001; object-fit: scale-down !important; } .fb-customerchat>span>iframe.fb_customer_chat_bounce_out_v2 {max-height: 0 !important;}  .fb-customerchat>span>iframe.fb_customer_chat_bounce_in_v2{max-height: calc(100% - 80px) !important;}</style>
        <script src="https://pos.nvnstatic.net/cache/location.vn.js?v=231013_172145" defer></script>
        <script src="https://web.nvnstatic.net/js/lazyLoad/lazysizes.min.js" async></script>
        <style>figure.image{clear: both;display: table;margin: .9em auto;min-width: 50px;text-align: center;width: auto !important;}figure.image img {display: block;margin: 0 auto;max-width: 100%;min-width: 100%;}figure.image>figcaption {background-color: #f7f7f7;caption-side: bottom;color: #333;display: table-caption;font-size: .75em;outline-offset: -1px;padding: .6em;word-break: break-word;}figure.image img, img.image_resized {height: auto !important;aspect-ratio: auto !important;}</style>
        <script src="https://web.nvnstatic.net/js/translate/vi-vn.js" defer></script>
    </head>
    <body id="lama-theme" class="tp_background tp_text_color"> 
        <input type="hidden" id="checkStoreId" value="71503">
        <!-- <div id="content">
            <div id="menu">
                <ul>
                    <li class="selected text-center" >
                        <a th:href="@{/home2/{id}(id=${login.id})}">
                            <img th:src="@{/static/img/home/ho.png}" alt="" />
                        </a>    
                    </li>
                    <li class="mobile_child">
                        <a href="/" title="Trang chủ" class=" current">
                            Trang chủ 
                        </a>
                    </li>
                    <li class="mobile_child"> 
                        <a href="/san-pham-pc564206.html" title="Sản phẩm" class=" current">
                            Sản phẩm
                        </a>
                    </li>
                    <li class="mobile_child">
                        <a href="/lien-he" title="Liên hệ" class=" current"> 
                            Liên hệ 
                        </a>
                    </li>
                </ul>
            </div> -->
            <header class="tp_header">
                <div class="header-content">
                    <div class="d-flex d-lg-none flex-wrap header_mobile">
                        <div class="click_menu col-3">
                            <a href="#menu">
                                <span>
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-9 right_">
                            <div class="logo_small col-6">
                                <a href="/">
                                    <img src="C:\Users\84973\Downloads\logoPage (1).png" alt="Logo">
                                </a>
                            </div>
                            <div class="item_mobile col-6">
                                <div class="lare-icon">
                                    <div class="cart-bag">
                                        <div style="position: relative;" onclick="window.location.href='/cart';">
                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                            <span class="cout_cart">
                                                0
                                            </span>
                                        </div>
                                    </div>
                                    <div class="user">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        <div class="groupc">
                                            <a class="button_gradient" href="/profile">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                ABC
                                            </a>
                                            <a href="/user/signout">
                                                <i class="fa fa-sign-in" aria-hidden="true"></i> 
                                                Đăng xuất 
                                            </a>
                                        </div>
                                    </div>
                                    <div class="seach">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <div class="searchmini">
                                            <form action="/search" method="get" class="form-group search-bar" role="search">
                                                <input type="text" name="q" placeholder="Tìm kiếm..."
                                                class="button_gradient form-control auto-search ">
                                                <button type="submit" class=" btn icon-fallback-text">
                                                    <span class="fa fa-search"></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container top-header d-none d-lg-flex flex-wrap" style="background-color: #333; max-width: 1000px;">
                        <div class="col-md-2 lare-logo">
                            <a th:href="@{/home2/{id}(id=${login.id})}">
                                <img th:src="@{/static/img/home/ho.png}" alt="" />
                            </a> 
                        </div>
                        <div class="col-md-8 menu-item">
                            <ul class="nav nav-pills header_menu tp_menu">
                                <li class="tp_menu_item">
                                    <a class="tp_menu_item" href="/" title="Trang chủ" style="color: antiquewhite;">
                                        Trang chủ 
                                    </a>
                                </li>
                                <li class="tp_menu_item"> 
                                    <a class="tp_menu_item" href="/san-pham-pc564206.html" title="Sản phẩm" style="color: antiquewhite;">
                                        Sản phẩm
                                        <span class="caret"></span>
                                    </a>
                            </li>
                            <li class="tp_menu_item">
                                <a class="tp_menu_item" href="/lien-he" title="Liên hệ" style="color: antiquewhite;">
                                    Liên hệ 
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="lare-icon col-md-2">
                        <div class="cart-bag">
                            <div style="position: relative;" onclick="window.location.href='/cart';">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                <span class="cout_cart">
                                    0
                                </span>
                            </div>
                            <div class="top-cart-content">
                                <div class="header-minicart">
                                    <p class="text-center">
                                        Giỏ hàng không có sản phẩm !
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="user">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <div class="groupc">
                                <a class="button_gradient" href="/profile">
                                    <i class="fa fa-user" aria-hidden="true"></i> 
                                    ABC
                                </a>
                                <a href="/user/signout">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i> 
                                    Đăng xuất 
                                </a>
                            </div>
                        </div>
                        <div class="seach">
                            <i class="fa fa-search iconSearchDesktop" aria-hidden="true"></i>
                            <div class="searchmini">
                                <form action="/search" method="get" class="form-group search-bar" role="search">
                                    <input type="text" name="q" placeholder="Tìm kiếm..." class="button_gradient form-control auto-search ">
                                    <button type="submit" class=" btn icon-fallback-text">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <link rel="stylesheet" href="https://web.nvnstatic.net/tp/T0307/css/user.css?v=2" type="text/css">
        <div class="bread-crumb text-center bread-crumb_background" style=" background-image: url('https://media.istockphoto.com/id/1095313322/vi/anh/s%E1%BB%91t-c%C3%A0-chua-v%E1%BB%9Bi-c%C3%A1c-nguy%C3%AAn-li%E1%BB%87u.jpg?s=2048x2048&w=is&k=20&c=nSnosO9NfsSd5NQbjE9_bKec_FVbhvBhzqs_0BXLzxs=');
                                                                        width: 100%; height: 600px;">
            <h3 style="color: antiquewhite;">
                Profile
            </h3>
            <ul class="breadcrumb&#x20;breadcrumb-arrow">
                <li> 
                    <a href="home.html">
                        Trang chủ
                    </a>
                </li>
                <li> 
                    <a href="&#x2F;profile">
                        Profile
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 col-md-3 col-sm-4">
                    <div class="sidebar">
                        <div class="box-heading">
                            <p>
                                <i class="fa fa-bars" aria-hidden="true"></i>
                                Quản lý tài khoản
                            </p>
                        </div>
                        <div class="box-content">
                            <ul id="profileMenu">
                                <li class="active">
                                    <a rel="nofollow" href="/profile">
                                        <i class="fa fa-fw fa-user" aria-hidden="true"></i> 
                                        Trang cá nhân
                                    </a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="/profile/changepassword">
                                        <i class="fa fa-fw fa-wrench" aria-hidden="true"></i> 
                                        Thay đổi mật khẩu
                                    </a>
                                </li>
                                <li>
                                    <a href="/order">
                                        <i class="fa fa-fw fa-envelope" aria-hidden="true"></i> 
                                        Quản trị đơn hàng
                                    </a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="/user/signout">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> 
                                        Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div th:each="user: ${user}" class="col-12 col-lg-9 col-md-9 col-sm-8 profileRight">
                    <div id="profileContent">


                        <h3>
                            <span th:text="${user.name}" aria-hidden="true"></span>
                        </h3>

                        <p>
                            <b>
                                Email:
                            </b> 

                            <span th:text="${user.email}" aria-hidden="true"></span>
                        </p>
                        <p>
                            <b>
                                Điện thoại:
                            </b> 
                            0123456789
                        </p>
                        <p>
                            <b>
                                Địa chỉ:
                            </b>

                        </p>
                        <a href="/profile/edit" class="btn btn-use">
                            Sửa
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="tp_footer">
            <div class="new-letter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="letter-left heading">
                                <h3>
                                    Đăng kí nhận khuyến mãi
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input id="contactFormEmail" type="email" name="contact[email]" class="form-control em" placeholder="Nhập email của bạn" required >
                                <div class="input-group-append">
                                    <button class="btn_dk tp_button">
                                        Đăng ký
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 widget_first_childs">
                            <div class="logo_footer">
                                <a href="/">
                                    <img src="C:\Users\84973\Downloads\logoPage (1).png" alt="Logo">
                                </a>
                            </div>
                            <div class="contact_footer">
                                <ul>
                                    <li>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Hà Đông, Hà Nội
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-mobile" aria-hidden="true"></i>
                                        <span>
                                            0011223344
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        <span>
                                            abc@gmail.com
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>
</div>
</footer>
<a href="javascript:" id="back_to_Top"></a>
</div>
<input type="hidden" class="fanpageId" value="">
<input type="hidden" id="bussinessId" value="71503">
<input type="hidden" value="eNt2fSITgCw7drtTGKUCMVvh2ElFuVViOpN4PVWAFohecWsaM1cF4tgoUMXGwykGaO8JII1Om4Wi7jytxackTvezNruiLxUIWihYrDD4xO5BjIHHprl6EMqyMudNpGxZ4pHl9oRSMMKxm7anXWXrYh6xoWlEfQjYGPIyjmvg5pzIRvX2etBmR9" id="uctk" name="uctk" />
<input type="hidden" id="clienIp" value="118.71.135.146">
<div class="modal fade bd-example-modal-lg" id="modalQuickview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"><div
class="modal-dialog modal-lg">
<div class="modal-content"> 
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;
        </span>
    </button>
    <div class="modal-body"></div>
</div>
</div>
</div>
<div class="modal fade bd-example-modal-lg" id="modalQuickbuy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"><div
class="modal-dialog modal-lg">
<div class="modal-content"> 
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;
        </span>
    </button>
    <div class="modal-body"></div>
</div>
</div>
</div>
</body>
</html>
