<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login </title>
    <link rel="stylesheet" type="text/css"  th:href="@{/static/css/login.css}">
    <link rel="stylesheet" th:href="@{https://unpkg.com/boxicons@latest/css/boxicons.min.css}">
     <link th:rel="preconnect" th:href="@{https://fonts.googleapis.com}">
      <link th:rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
      <link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="main-box">
        <h1>Login</h1>
        <form id="login-form" action="#" th:action="@{/login}" th:object="${user}" method="post">
          <div class="input-box">
            <span class="icon"><i class='bx bxs-user-account'></i></span>
            <input type="text" name="username" id="username" required>
            <label>Usename</label>
          </div>
          <div class="input-box">
            <span class="icon"><i class='bx bxs-lock-alt'></i></span>
            <input type="password" name="password" required>
            <label>Password</label>
          </div>
          <p th:if="${error}" style="margin-bottom: 15px;">
            <span style="color:red; font-size: 15px;">Tài khoản hoặc mật khẩu không đúng!!!</span>
          </p>
          <div class="check">
            <label><input type="checkbox">Remember me</label>
            <a href="#">Forget PassWord</a>
          </div>
          <button type="submit" class="btn">Login</button>
          <div class="register">
            <p>Don't have an account?<a href="signup" class="register-link">Signup</a> </p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>